<app-tabs>
    <app-tab title="test 1">Test 1</app-tab>
    <app-tab title="test 2">Test 2</app-tab>
    <app-tab title="test 3">Test 3</app-tab>
</app-tabs>
<app-tabs>
    <app-tab title="test 1">Test 1</app-tab>
    <app-tab title="test 2">Test 2</app-tab>
    <app-tab title="test 3">Test 3</app-tab>
</app-tabs>
<app-tabs>
    <app-tab title="test 1">Test 1</app-tab>
    <app-tab title="test 2">Test 2</app-tab>
    <app-tab title="test 3">Test 3</app-tab>
</app-tabs>

<br/><br/><br/><br/>

<rsu-tabs>
    <rsu-tab title="test 1">Test 1</rsu-tab>
    <rsu-tab title="test 2">Test 2</rsu-tab>
    <rsu-tab title="test 3">Test 3</rsu-tab>
</rsu-tabs>
<rsu-tabs>
    <rsu-tab title="test 1">Test 1</rsu-tab>
    <rsu-tab title="test 2">Test 2</rsu-tab>
    <rsu-tab title="test 3">Test 3</rsu-tab>
</rsu-tabs>
<rsu-tabs>
    <rsu-tab title="test 1">Test 1</rsu-tab>
    <rsu-tab title="test 2">Test 2</rsu-tab>
    <rsu-tab title="test 3">Test 3</rsu-tab>
</rsu-tabs>

